html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
footer,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}

/* Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.headerimg {
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% auto;
}
header nav ul {
  display: flex;
  gap: 32px;
}
li {
  list-style: none;
}
header nav a {
  color: #ff6060;
  font-size: 1.5rem;
  text-decoration: none;
}
/*.accueil{
  text-decoration: underline;
}*/

.layout {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.layout h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 46px;
  z-index: 1;
}

.layout img {
  width: 100%;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.9;
  filter: brightness(0.5);
}
.logements_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  background: #e5e5e5;
  border-radius: 25px;
  margin: 43px 0;
  padding: 53px 50px;
}
figure {
  position: relative;
  width: 30%;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
figure img {
  width: 100%;
  max-height: 340px;
  height: 340px;
  object-fit: cover;
}
figure h3 {
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 0.5rem;
  background: linear-gradient(rgba(7, 7, 7, 0), rgba(7, 7, 7, 0.3));
}
.footer {
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.logo-footer {
  padding-top: 30px;
  padding-bottom: 35px;
}

.footer-txt {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

/* Médias queries */

@media screen and (max-width: 1024px) {
  header,
  .container {
    max-width: 800px;
  }
  .logements_container figure {
    width: 25%;
    height: 200px;
  }
  .logements_container figure h3 {
    top: 70%;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  header,
  .container {
    max-width: 600px;
  }
  .logements_container figure {
    width: 45%;
  }
  .layout h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 500px) {
  header,
  .container {
    max-width: 300px;
  }
  header nav a {
    font-size: 12px;
  }
  .layout img {
    height: 111px;
  }
  .layout h1 {
    font-size: 24px;
  }
  .logements_container {
    background: none;
    margin: 3% 0;
    padding: 0;
    gap: 20px;
  }
  .logements_container figure {
    width: 100%;
    height: 255px;
}
.logements_container figure h3 {
  font-size: 18px;
}
}
