html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 20px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerimg {
  width: 210px;
  margin:auto;
}
header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 3% auto;
  padding: 0 3%;
}
header nav ul {
  display: flex;
  gap: 32px;
}
li {
  list-style: none;
}
header nav a {
  color: #ff6060;
  font-size: 1.5rem;
  list-style: none;
}
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  word-wrap: normal;
}

.homeimg {
  width: 100%;
  border-radius: 20px;
  filter: brightness(75%);
}

.title-ocean {
  color: #fff;
  font-size: 28px;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .layout {
    margin-top: 10px;
  }

  .homeimg {
    height: 111px;
    border-radius: 10px;
  }

  .title-ocean {
    font-size: 24px;
    margin-right: 10px;
  }
}
.logements_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
  background:#E5E5E5;
  border-radius: 25px;
}
figure {
  position: relative;
  width: 25%;
  overflow: visible;
  cursor: pointer;
}
figure img {
  width: 100%;
  border-radius: 10px;
}
figure h3 {
  opacity: 0;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: opacity 350ms ease-in-out;
}
figure:hover h3 {
  opacity: 1;
}
