.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
  font-weight: 700;
  margin: 30px;
}
.title-error {
  font-family: 'Montserrat', sans-serif;
  margin-top: 45px;
  font-size: 288px;
  text-align: center;
}
.oups {
  width: 872px;
  height: 51px;
  font-size: 36px;
}

.link-accueil{
    font-size: 18px;
	font-weight: 500;
    margin-top: 182px;
	color: #ff6060;
}
